<h1>An Application Error occurred</h1>
<h2>{{ message }}</h2>
{% if exception %}
	<h3>Error Information:</h3>
	<p><b>Message:</b> {{ exception.getMessage() }}</p>
	<h3>Stack trace:</h3>
	<h4><pre>{{ exception.getTraceAsString() }}</pre></h4>
{% endif %}